* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}
.wrap {
  height: 100%;
  border: 4px double #000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.content, .menu {
  padding: 20px;
}
.menu {
  width: 250px;
  height: 100%;
  background-color: purple;
}
.menu ul {
  margin: 0;
  color: #fff;
}

/* float */
  
.menu {
  float: left;
}
.content {
  float: right;
  width: calc(100% - 250px);
} 


/* inline-block */
/* 
.menu, .content {
  display: inline-block;
  vertical-align: top;
}
.content {
  width: calc(100% - 260px);
} 
*/

/* flex */
/* 
.wrap {
  display: flex;
}
*/