html, body {
  height: 100%;
  margin: 0;
}
.block {
  border: 5px solid red;
} 
.wrap {
  display: grid;
  grid-template-rows: 50px 1fr  50px;
  grid-template-columns: 1fr 2fr 1fr;
  
  height: 100%;
  text-align: center;
}

.shapka {
  grid-column: 1/5;
  grid-row: 1/2;
}
.left {
  grid-column: 1/2;
  grid-row: 2/3;  
}
.center {
  grid-column: 2/3;
  grid-row: 2/3;
}
.right {
  grid-column: 3/4;
  grid-row: 2/3;  
}
.footer {
  grid-column: 1/5;
  grid-row: 3/4;
}